.nav-buttons {
  &:hover{
    background-color: rgb(107, 227, 149);
    box-shadow: 0px 0px 12px 12px rgba(107, 227, 149, .4);  
  }
  .btn-count{
    margin-left: 4px;
  }
  background: none;
  border: none;
  color: white;
  font-size: 26pt;
  font-weight: bold;
  outline: rgb(107, 227, 149);
  height: 50px;
  width: 200px;
  transition: all 0.2s ease-in-out;
}



