.card {
  &.favorite {
      box-shadow: 0px 0px 15px 15px rgba(67, 143, 238, .3)
  }
  border: 2px solid white;
  width: 300px;
  margin-bottom: 30px;
  padding: 10px;
}

.favorite .favorite-btn {
  background-color: rgb(67, 143, 238);
  color: white;
}

.favorite-btn {
  &:hover {
    background-color: rgb(67, 143, 238);
    box-shadow: 0px 0px 10px 10px rgba(67, 143, 238, .3);
  }
  font-size: 16pt;
  height: 35px;
  width: 150px;
  font-family: 'starjedi';
  border: none;
}

