.App-header {
  // z-index: 1;
  height: 150px;
  color: #feda4a;
  font-family: 'starjedi';
  // background-image: url(https://i.ytimg.com/vi/_kaqhy2iV7c/maxresdefault.jpg);
  margin: 100px;
}

.buttons {
  display: flex;
  justify-content: space-around;

}