.App-header {
  height: 280px;
  color: #feda4a;
  font-family: 'starjedi';
}

.App-title {
  font-size: 57pt;
  letter-spacing: 0.5em;
}

.buttons {
  display: flex;
  justify-content: space-around;
}